/* Styles for leaflegend demo
 *
 * Author: Armin Akhavan
 */
#map {
	position: inherit;
	width: 90%;
	height: 600px;
}
#map2 {
  position: inherit;
  width: 90%;
  height: 600px;
}
.leaflet-top.leaflet-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.point, .rect {
  fill: #222;
}
.map-legend .leaflegend {
  width:360px;
  height:360px;
  float:left;
  margin-right:10px;
  }
/*.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:left;
  font-size:9px;
  color:#808080;
  }*/
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }
h1 {
padding-left: 25%;
}
/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
